@page "/Golfer/"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]
@inject HttpClient http

<h3>Golfers</h3>

<a href="/golfer/create">Add a golfer</a>

@if (_golfers == null)
{
    <p><em> Loading... </em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Age</th>
                <th>HomeCourse</th>
            </tr>
        </thead>
        <tbody>

            @if (_golfers != null)
            {
                @foreach (var golfer in _golfers)
                {
                    <tr>
                        <td><strong>@golfer.Id</strong></td>
                        <td><strong>@golfer.Name</strong></td>
                        <td><strong>@golfer.Age</strong></td>
                        <td><strong>@golfer.HomeCourse</strong></td>
                        <td>
                            <a href=@($"golfers/{golfer.Id}")>Detail</a>
                            <a href=@($"golfers/edit/{golfer.Id}")>Edit</a>
                            <a href=@($"golfers/delete/{golfer.Id}")>Delete</a>
                        </td>
                    </tr>
                }

            }
            else
            {
                <p>There are no availble golfers.</p>
            }
        </tbody>

    </table>
}

@code {
    private IEnumerable<ListGolfers> _golfers = new List<ListGolfers>();

    protected override async Task OnInitializedAsync()
    {
        _golfers = await http.GetFromJsonAsync<List<ListGolfers>>("api/golfers/GetGolfers");
    }
}