@page "/course/edit/{CourseId:int}"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]
@inject HttpClient http
@inject NavigationManager navigation


<h3>Edit Course</h3>

@if (errorMessage != null)
{
    <h5> class ="text-danger">@errorMessage</h5>
}

<div class="container">
    <EditForm Model="@model" OnValidSubmit="@HandleSubmit">

        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="form-group">
            <label>Name</label>
            <InputText class="form-control" @bind-Value="model.Name" />
        </div>

        <div class="form-group">
            <label>CourseRating</label>
            <InputText class="form-control" @bind-Value="model.CourseRating" />
        </div>

        <button type="submit" class="btn btn-primary btn-block mt-5"></button>


    </EditForm>
</div>

@code {
    
    private CourseEdit model = new();

    [Parameter]
    public int CourseId { get; set; }

    private string errorMessage { get; set; }


    protected override async Task OnInitializedAsync()
    {
        model = await http.GetFromJsonAsync<CourseEdit>($"api/courses/CourseInfo/{CourseId}");
    }

    private async void HandleSubmit()
    {
        var editCo = await http.PutAsJsonAsync<CourseEdit>($"api/courses/edit/{CourseId}", model);

        if (editCo.IsSuccessStatusCode)
        {
            navigation.NavigateTo($"/course/{CourseId}");
        }

        else
        {
            errorMessage = "Could not edit course, please try again later";
        }
    }
}
