@page "/Course/"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]
@inject HttpClient http

<h3>Courses</h3>

<a href="/course/create">Create a course</a>

@if (_courses == null)
{
    <p><em> Loading... </em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>CourseRating</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var course in _courses)
            {
            <td><strong>@course.Id</strong></td>
            <td><strong>@course.Name</strong></td>
            <td><strong>@course.CourseRating</strong></td>
            <td>
                <a href=@($"course/{course.Id}")>Detail</a>
                <a href=@($"course/edit/{course.Id}")>Edit</a>
                <a href=@($"course/delete/{course.Id}")>Delete</a>
            </td>
            }
        </tbody>
     
    </table>
}

@code {
    private IEnumerable<ListCourses> _courses = new List<ListCourses>();

    protected override async Task OnInitializedAsync()
    {
        _courses = await http.GetFromJsonAsync<List<ListCourses>>("api/courses");
    }
}

  